<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="width" value="40" />
    <add key="height" value="40" />
    
    <!-- comma-separated list of A:B pairs, where A is the column and B is the row -->
    <add key="cells" value="16:16,16:15,27:17,17:16,18:15,18:16,17:14,17:18, 26:26,26:25,26:27,27:27,27:25,28:25,28:26,28:27,27:24,27:28, 14:18"/>
  </appSettings>
</configuration>